@import "./iconfont/iconfont.css";
@font-face {font-family: "iconfont";
    src: url('./iconfont/iconfont.eot'); /* IE9*/
    src: url('./iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('./iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body{
    margin: 0;
    padding: 0;
    font-family: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
    line-height: 24px;
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.hp-mt-10{
    margin-top: 10px;
}
.hp-mt-20{
    margin-top: 20px;
}
.hp-mt-30{
    margin-top: 30px;
}
.hp-mh-10{
    margin: 0 10px;
}
.hp-mh-20{
    margin: 0 20px;
}
.hp-mh-30{
    margin: 0 30px;
}
.hp-text-center{
    text-align: center;
}
.hp-text-right{
    text-align: right;
}
.hp-text-left{
    text-align: left;
}
.hp-float-left{
    float: left;
}
.hp-float-right{
    float: right;
}