.e-navmenu{
    overflow: auto;
    height: calc(100% - 60px);
    width: 220px;
    &::-webkit-scrollbar {display: none;}
    .e-navmenuitem{
        line-height: 40px;
        text-align: center;
        color: rgba( 255, 255, 255,.7);
        font-size: 14px;
        cursor: pointer;
        &.active{
            color: #fff;
        }
    }
    .e-submenu {
        &_collapsed {
            .e-submenu_list{
                display: none;
            }
        }
        &_title{
            padding: 0 15px;
            cursor: pointer;
            user-select: none;
            &_flag{
                transform: rotate(0);
                -moz-transform: rotate(0);
                -webkit-transform: rotate(0);
                -o-transform: rotate(0);
                -ms-transform: rotate(0);
                transition: transform ease .3s;
                -moz-transition: -moz-transform ease .3s;
                -webkit-transition: -webkit-transform ease .3s;
                -o-transition: -o-transform ease .3s;
                -ms-transition: -ms-transform ease .3s;
                &.collapsed{
                    transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                }
            }
        }
        &_list{
            background-color: rgba(0,0,0,.3)!important;
            .e-navmenuitem{
                font-size: 13px;
                user-select: none;
            }
        }
    }
}