.e-home{
    .e-button-margin{
        margin-top: 10px;
        margin-right: 10px;
    }
    .e-section-fieldset{
        border: 1px solid #ddd;
    }
    .e-fixed-width-200{
        width: 200px;
        height: 50px;
    }
}